List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage

In [1]:
 # a list of three elements
ages = [19, 26, 29]
print(ages)

[19, 26, 29]

The index() method returns the index of the specified element in the list

For example

In [2]:
animals = ['cat', 'dog', 'rabbit', 'horse']
# get the index of 'dog'
index = animals.index('dog')
print(index)

1

The append() method adds an item to the end of the list.

For example:

In [3]:
currencies = ['Dollar', 'Euro', 'Pound']
# append 'Yen' to the list
currencies.append('Yen')
print(currencies)

['Dollar', 'Euro', 'Pound', 'Yen']

The extend() method adds all the items of the specified iterable, such as list, tuple, dictionary, or string , to the end of a list.

For example:

In [4]:
numbers1 = [3, 4, 5]
numbers2 = [10, 20]
# add the items of numbers1 to the number2 list
numbers2.extend(numbers1)
print(f"numbers1 = {numbers1}")
print(f"numbers2 = {numbers2}")

numbers1 = [3, 4, 5]
numbers2 = [10, 20, 3, 4, 5]

The insert() method inserts an element to the list at the specified index.

For example:

In [5]:
# create a list of vowels
vowel = ['a', 'e', 'i', 'u']
# 'o' is inserted at index 3 (4th position)
vowel.insert(3, 'o')
print('List:', vowel)

List: ['a', 'e', 'i', 'o', 'u']

The remove() method removes the first matching element (which is passed as an argument) from the list.

For example:

In [6]:
# create a list
prime_numbers = [2, 3, 5, 7, 9, 11]
# remove 9 from the list
prime_numbers.remove(9)
# Updated prime_numbers List
print('Updated List: ', prime_numbers)

Updated List:  [2, 3, 5, 7, 11]

The list pop() method removes the item at the specified index. The method also returns the removed item.

For example:

In [7]:
prime_numbers = [2, 3, 5, 7]
# remove the element at index 2
removed_element = prime_numbers.pop(2)
print('Removed Element:', removed_element)
print('Updated List:', prime_numbers)

Removed Element: 5
Updated List: [2, 3, 7]

The count() method returns the number of times the specified element appears in the list.

For example:

In [8]:
# create a list
numbers = [2, 3, 5, 2, 11, 2, 7]
# check the count of 2
count = numbers.count(2)
print('Count of 2:', count)

Count of 2: 3

Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered,changeable and do not allow duplicates.

The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.

For example:

In [9]:
marks = {'Physics':67, 'Maths':87}
print(marks.items())

dict_items([('Physics', 67), ('Maths', 87)])

The keys() method extracts the keys of the dictionary and returns the list of keys as a view object.

For example:

In [12]:
numbers = {1: 'one', 2: 'two', 3: 'three'}
# extracts the keys of the dictionary
dictionaryKeys = numbers.keys()
print(dictionaryKeys)

dict_keys([1, 2, 3])

The pop() method removes and returns an element from a dictionary having the given key.

For example:

In [10]:
# create a dictionary
marks = { 'Physics': 67, 'Chemistry': 72, 'Math': 89 }
element = marks.pop('Chemistry')
print('Popped Marks:', element)

Popped Marks: 72

The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.

For example:

In [11]:
marks = {'Physics':67, 'Maths':87}
internal_marks = {'Practical':48}
marks.update(internal_marks)
print(marks)

{'Physics': 67, 'Maths': 87, 'Practical': 48}

Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

We create a tuple by placing items inside parentheses ().

For example:

In [13]:
numbers = (1, 2, -5)
print(numbers)

(1, 2, -5)

In [15]:
type(numbers)

tuple

The count() method returns the number of times the specified element appears in the tuple.

For example:

In [16]:
#tuple of vowels
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
# counts the number of i's in the tuple
count = vowels.count('i')
print(count)

2

The index() method returns the index of the specified element in the tuple

In [17]:
# tuple containing vowels
vowels = ('a', 'e', 'i', 'o', 'u')
# index of 'e' in vowels
index = vowels.index('e')
print(index)

1

You can loop through the tuple items by using a for loop.

For example:

In [18]:
tuple = ("one", "two", "Three")
for x in tuple:
  print(x)

one
two
Three

In [20]:
type(tuple)

tuple

Sets

Sets are used to store multiple items in a single variable.

In [23]:
set = {"set1", "set2", "set3"}
print(set)

{'set3', 'set2', 'set1'}

In [21]:
type(set)

set

The sorted() method sorts the elements of the given iterable in ascending order and returns it.

For example:

In [22]:
numbers = [4, 2, 12, 8]
# sort the list in ascending order
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[2, 4, 8, 12]