**Learn Python**

Python is a popular programming language.

Python can be used on a server to create web applications.

In [ ]:
#Learning data types (primary/inbuild datatypes)
a = 10

In [ ]:
type(a)   #int - number

int

In [ ]:
b = 7.112

In [ ]:
type(b)  #float - decimal number

float

In [ ]:
c = True

In [ ]:
type(c)  #boolean variables are defined by the True and False keywords

bool

In [ ]:
d = 6+5j  #complex consists of two values, the first one is the real part of the complex number, and the second one is the imaginary part

In [ ]:
type(d)

complex

**Learning by Examples programs**

In [ ]:
#Addition of 3 numbers
a = int(input("enter a value:"))
b = int(input("enter b value:"))
c = int(input("enter c value:"))
res = (a+b+c)
print("Total=",res)

enter a value:230
enter b value:120
enter c value:67
Total= 417

In [ ]:
#Student details
studentname = str(input("enter student name="))
studentid = str(input("enter student ID="))
mark1 = int(input("enter mark 1 ="))
mark2 = int(input("enter mark 2 ="))
mark3 = int(input("enter mark3 ="))
total = mark1+mark2+mark3
avg = total/3
print("Student Name=",studentname,"Student ID=",studentid,"total=",total,"avg=",avg)

enter student name=maya
enter student ID=112
enter mark 1 =50
enter mark 2 =90
enter mark3 =70
Student Name= maya Student ID= 112 total= 210 avg= 70.0