**Operators**

Python divides the operators in the following groups:

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

In [ ]:
a = 50
b = 10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

60
40
500
5.0
5
0
97656250000000000

In [ ]:
#Find Square of a number
sqno=int(input("enter a number="))
a=sqno*2
print(a)

enter a number=8
16

In [ ]:
#Find cube of a number
cube=int(input("enter the value="))
a=cube**3
print(a)

enter the value=6
216

In [ ]:
#find area of Triangle
b=float(input("enter b value"))
h=float(input("enter h value"))
a=h*b/2
print(a)

enter b value23
enter h value50
575.0

In [ ]:
#Temperature in celsius to fahrenheit
celsius=float(input("enter temperature in celsius"))
fahrenheit = (celsius * 1.8) + 32
print(celsius, "Celsius is equal to", fahrenheit, "Fahrenheit")

enter temperature in celsius20.0
20.0 Celsius is equal to 68.0 Fahrenheit

In [ ]:
#kilometers to miles
kilometers = float(input("Enter value in kilometers: "))
conv_fac = 0.6213
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 5
5.00 kilometers is equal to 3.11 miles

In [ ]:
#S=3x2+2y+Z
x = int(input("Enter value="))
y = int(input("enter value="))
z = int(input("enter value="))
s = (3*x**2)+(2*y)+z
print("s=",s)

Enter value=6
enter value=8
enter value=4
s= 128